name: deploy-book

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Jupyter Book
        run: |
          pip install -U pip
          pip install jupyter-book ghp-import

      - name: Build the book (force Python version)
        run: |
          python -m jupyter_book build .

      - name: Deploy to GitHub Pages
        run: |
          ghp-import -n -p -f _build/html
